# Latex
*.txt
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.lof
*.lot
*.gz
*.backup
*.backup.*
*.dvi
*.ps

# Ignore massive datasets and extracted features
data/
embeddings/*.npy

# Ignore Python caches and virtual environments
__pycache__/
*.pyc
.venv/
venv/

# Ignore model checkpoints
*.pt
*.pth